.skill {
  &__progress {
    position: relative;
    display: block;
    padding: 0.5rem;
    border-radius: 3rem;
    background-color: color(color-primary);
    margin-bottom: 2rem;

    span {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      height: 2rem;
      border-radius: 1rem 0 0 1rem;
      background-color: color(color-secondary);
    }

    &--1 {
      animation: skillProgress-1 4s infinite cubic-bezier(1, 0, 0, 1);
    }

    &--2 {
      animation: skillProgress-2 4s infinite cubic-bezier(1, 0, 0, 1);
    }

    &--3 {
      animation: skillProgress-3 4s infinite cubic-bezier(1, 0, 0, 1);
    }

    &--4 {
      animation: skillProgress-4 4s infinite cubic-bezier(1, 0, 0, 1);
    }

    &--5 {
      animation: skillProgress-5 4s infinite cubic-bezier(1, 0, 0, 1);
    }
  }
}
